.cartItemsStyle {
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
}

.totalAmountStyle {
  margin: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.cartButtonsStyle {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.cartCloseButton {
  border-radius: 10px;
  border: 2px solid indianred;
  padding: 0.25rem 1.5rem;
  background-color: white;
  color: indianred;
}

.cartCloseButton:hover {
  border: 2px solid  #AE0000;
  background-color: #AE0000;
  color: white;
}

.cartOrderButton {
  border-radius: 10px;
  padding: 0.25rem 1.5rem;
  background-color: indianred;
  color: white;
}

.cartOrderButton:hover {
  background-color:	#AE0000;
}

@media  (max-width:550px) {
  .totalAmountStyle {
    font-size: 1rem;
  }

  .cartCloseButton {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }

  .cartOrderButton {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }
}