

.menuContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: 	#272727;
    border-radius: 5px;
    align-items: center;
    margin:  10px 40px;
}

.imgStyle {
    width: 100%;
    border-radius: 5px 5px 0 0;
    max-height: 40vh;
}

.labelStyle {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 5vh;
    color: whitesmoke;
}

.descriptionStyle{
    font-weight: bold;
    color: whitesmoke;
}

.btnStyle {
    width: 20%;
    height: 5vh;
    margin-top: 1vh;
}

.btnStyle:hover {
    color: black;
    background-color: khaki;
    border-color: black;
}

@media (max-width:1250px ) {
    .menuContainer {
        width: 250px;
    }
}

.mobileMenuContainer {
    display:none;
}

@media (max-width:550px) {
    .menuContainer {
        display: none;
    }

    .mobileMenuContainer {
        display:flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

    .mobileMenuLeft {
        display: flex;
    }

    .mobileImgStyle {
        width: 120px;
        border-radius: 5px;
    }

    .mobileMenuText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }

    .mobileLabelStyle {
        color:white;
        font-weight: bold;
    }
    .mobileDescriptionStyle {
        color:white;
        font-size: 0.8rem;
        margin-bottom: 20px;
    }
    .mobileBtnStyle {
        padding: 0.25rem;
        font-size: 1rem;
        border-radius: 5px;
    }
    .mobileBtnStyle:hover {
        color: black;
        background-color: khaki;
        border-color: black;
        
    }
}