.mapPageContainer {
  background-color: black;
  min-height: 92vh;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.mapStyle {
  height: 350px;
  width: 500px;
  margin-left: 50px;
  /* border: 2px solid grey; */
  border-radius: 10px;
  overflow: hidden;
}

.storeInfo {
  height: 350px;
  margin: 25px;
}

.storeInfo p {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}
.storeInfo h3 {
  color: white;
  font-weight: bold;
}


@media  (max-width:550px) {
  .mapPageContainer {
    flex-direction: column;
  }
  .mapStyle {
    height: 350px;
    width: 90vw;
    margin-left: 0px;
    border-radius: 10px;
    overflow: hidden;
  }
}