.hamburgerMenuHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hamburgerMenuUl {
  text-align: left;
}

.hamburgerMenuli{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px auto;
  list-style: none;
}

.hamburgerMenuli span {
  font-size: 75%;
}

.hamburgerMenuli .hamburgerMenuIcon{
  width:30px;
  height: auto;
  margin: 10px 10px 0px 5px;
}

.hamburgerMenuBtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}
.hamburgerMenuBtn span {
  margin-left: 5px;
}