.profilePageContainer {
  min-height: 92vh;
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImage {
  height: 25vh;
  border-radius: 99999px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profileLogOutButton {
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}